{% extends 'base.html.twig' %}

{% block title %}Список команд{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Список команд</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-primary" href="{{ path('app_team_new') }}">
                    Создать команду
                </a>
            </div>
            <div class="count">
                Всего команд: {{ pagination.getTotalItemCount }}
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th width="240px">Action</th>
                    </tr>
                    {% for team in pagination %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                <form method="post" action="{{ path('app_team_delete', {'id': team.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <a
                                            class="btn btn-outline-info"
                                            href="{{ path('app_team_show', {'id': team.id}) }}">
                                        Show
                                    </a>
                                    <a
                                            class="btn btn-outline-success"
                                            href="{{ path('app_team_edit', {'id': team.id}) }}">
                                        Edit
                                    </a>

                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
{#                <nav aria-label="Page navigation example">#}
{#                    <ul class="pagination">#}
{#                        <li class="page-item">#}
{#                            <a class="page-link" href="#" aria-label="Previous">#}
{#                                <span aria-hidden="true">&laquo;</span>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="page-item"><a class="page-link" href="#">1</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                        <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                        <li class="page-item">#}
{#                            <a class="page-link" href="#" aria-label="Next">#}
{#                                <span aria-hidden="true">&raquo;</span>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </nav>#}
            </div>
        </div>
    </div>

{% endblock %}