{% extends 'base.html.twig' %}

{% block title %}Турнир{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">О турнире</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_tournament_index') }}">
                    Редактор турниров
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Название:</b>
                <p>{{ tournament.name }}</p>

{#                Турнирная таблица#}
                <b class="text-muted">Турнирная таблица:</b>

                <p>
                    {% for key, date in standings %}
                        <p style="color: darkgreen">
                            {{ key }}:
                        </p>
                            {% for game in date %}
                                <p>
                                    {% set i = 1 %}
                                    {% for team in game %}
                                        {% if i == 1 %}
                                            {{ team }} :
                                        {% else %}
                                            {{ team }}
                                        {% endif %}
                                        {% set i = 2 %}
                                    {% endfor %}
                                </p>
                            {% endfor %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}