{% extends 'base.html.twig' %}

{% block title %}Турнир{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">О турнире</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_tournament_index') }}">
                    Редактор турниров
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Название:</b>
                <p>{{ tournament.name }}</p>
                <b class="text-muted">Начало турнира:</b>
                <p>{{ tournament.dateFrom ? tournament.dateFrom|date('Y-m-d') : '' }}</p>
                <b class="text-muted">Конец турнира:</b>
                <p>{{ tournament.dateTo ? tournament.dateTo|date('Y-m-d') : '' }}</p>
                <b class="text-muted">Команды:</b>
                {% for team in tournament.teams %}
                    <p>{{ team.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}